<div class="header">
    <div class="top">
        <a href="#main">skip to main content</a>
        {% if page.url != '/sitemap/' %}
            <a href="{{ site.baseurl }}/sitemap/">sitemap</a>
        {% endif %}
	    {% if page.url == '/index.html' or page.url == '/' %}
    		{% assign link = '/about' %}
	    	{% assign prompt = 'About' %}
    	{% else %}
	    	{% assign link = '/' %}
    		{% assign prompt = 'Home' %}
	    {% endif %}
    	<a href="{{ link | prepend: site.baseurl }}">{{ prompt }}</a>
        <a href="{{ site.baseurl }}/feed.xml">RSS</a>
    </div>
</div>
