<div class="top">
    <ul>
        <li><a href="#main">Main content</a></li>
        {% if page.url != '/sitemap/' %}
            <li><a href="{{ site.baseurl }}/sitemap/">Sitemap</a></li>
        {% endif %}
	    {% if page.url == '/index.html' or page.url == '/' %}
    		{% assign link = '/about' %}
	    	{% assign prompt = 'About' %}
    	{% else %}
	    	{% assign link = '/' %}
    		{% assign prompt = 'Home' %}
	    {% endif %}
    	<li><a href="{{ link | prepend: site.baseurl }}">{{ prompt }}</a></li>
        <li><a href="{{ site.baseurl }}/feed.xml">RSS</a></li>
    </ul>
</div>
