<div>
    <ul>

    {% if page.previous.url %}
    <li>
  <a href="{{ site.baseurl }}{{ page.previous.url }}.html" title="previous: {{ page.previous.title }}">&lt;&lt;</a>
    </li>
    {% endif %}

    <li>
    <a href="{{ site.baseurl }}/" title="Back to Homepage">Home</a>
    </li>

    <li>
    <a href="#top-page" title="Back to top ">Top</a>
    </li>

    {% if page.next.url %}
    <li>
    <a href="{{ site.baseurl }}{{ page.next.url }}.html" title="next: {{page.next.title}}">&gt;&gt;</a>
    </li>
    {% endif %}

    </ul>
</div>


