<div class="page-navigation">
    {% if page.next.url %}
    <a href="{{ site.baseurl }}{{ page.next.url }}" title="NEXT: 
{{page.next.title}}">&lt;&lt;</a>
        <span> &middot; </span>
  {% endif %}
        <a href="{{ site.baseurl }}/" title="Back to 
Homepage">Home</a>
        <span> &middot; </span>
        <a href="#main" title="Back to top">Top</a>
  {% if page.previous.url %}
        <span> &middot; </span>
    <a href="{{ site.baseurl }}{{ page.previous.url }}" 
title="PREV: {{ page.previous.title }}">&gt;&gt;</a>
  {% endif %}
</div>

