---
layout: compress
---

<!DOCTYPE html>
{% comment %}See https://www.bennadel.com/blog/822-using-body-id-as-a-back-to-top-page-anchor.htm#comments_448{% endcomment %}
<html lang="en" id="top-page">
	<head>
		{% include head.html %}
	</head>
	<body>
		{% include header.html %}

        <hr>

        {% if page.is_post != true %}
            <div id="main"></div>
        {% endif %}

        {% if site.anchor_headings.enabled %}
            {% include anchor_headings.html html=content anchorBody=site.anchor_headings.character anchorClass="hAnchor" h_min=site.anchor_headings.min h_max=site.anchor_headings.max beforeHeading=site.anchor_headings.before %}
        {% else %}
            {{ content }}
        {% endif %}

        {% comment %}Can't use == false since page.is_home might be undefined{% endcomment %}
        {% if page.is_home != true and page.is_404 != true and page.is_tags != true and page.is_sitemap != true %}
            <hr>
            {% include comments.html %}
        {% endif %} 

        <hr>

        {% if page.is_post %}
            {% include post_navigation.html %}
        {% else %}
            {% include page_navigation.html %}
        {% endif %}

		{% include footer.html %}
	</body>
</html>
