<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
	</head>

	<body>

		{% include header.html %}

        {% if page.is_home %}
            {% include tag_list.html %}
        {% endif %}
		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

        {% comment %}
        <!--Can't use == false since page.is_home might be undefined.-->
        {% endcomment %}
        {% if page.is_home != true and page.is_404 != true and page.is_tags != true %}
            {% include comments.html %}
        {% endif %} 

        {% if page.is_post %}
            {% include post_navigation.html %}
        {% endif %}

		{% include footer.html %}

	</body>

</html>
